SQLAlchemy
sqlalchemy-utils
pyyaml
psycopg2
pytz
phonenumbers
passlib
zerorpc
raven
fabric
nose
requests
websocket-client
mongoengine
blinker
geoip2
pycountry
flask
flask-login
git+git://github.com/mrjoes/flask-admin.git@438b8ecc2a418d75799a2b82a490b3f9f59e5243
flask-mongoengine
wtforms-html5
BeautifulSoup4
