postgresql:
  drivername: postgresql+psycopg2
  username: pgadmin
  password: qwerty
  host: localhost
  port: 5432
  database: next_tv
  usetestdb:0

test:
  drivername: postgresql+psycopg2
  username: pgadmin
  password: qwerty
  host: localhost
  port: 5432
  database: test
  usetestdb:0