global
    log /dev/log  haproxy.vsevi.com local0

    chroot /var/lib/haproxy
    stats socket /var/run/haproxy.stat mode 777

    # Пользователь и группа, под которыми будет работать процесс haproxy
    user haproxy
    group haproxy

    # Количество работающих процессов
    nbproc 1

    # Запускаемый процесс будет форкаться в бэкграунд
    daemon

defaults
    log  global
    mode tcp

    # Включаем логирование tcp-запросов
    option    tcplog

    # Не логируем пустые соединения
    option     dontlognull
    contimeout 500
    clitimeout 30000
    srvtimeout 30000

    # Задаём заглушки для разных кодов ошибок
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

listen zerorpc 0.0.0.0:1111
    # Режим работы
    mode tcp

    # Опции
    option tcplog

    # Тип балансировки
    balance roundrobin

    # Количество попыток
    retries 3

    # Задаём максимальное количество одновременных подключений.
    # При превышении этого значения новые соединения не устанавливаются
    maxconn 20000

    # Группа серверов
    default_backend zeronode_app

backend zeronode_app
    server backend_4245 0.0.0.0:4245
    server backend_4246 0.0.0.0:4246
    server backend_4247 0.0.0.0:4247
